body {
  margin: 0;
  padding: 0;
}

p, li {
  font-size: calc(10px + 1.5vw) !important;
}

p, li {
  font-size: calc(10px + 2vw) !important;
}

.rightTextWrapper p {
  font-size: calc(10px + 2vw) !important;
}

.rightTextWrapper {
  width: 80% !important;
}